html, body {
    background: black;
    color: white;
}

.App {
  
}

.myDeck {
    min-height: 15em;
}

.filters {
    display: flex;
    gap: 1em;
}

.card {
    position: relative;
    display: inline-block;
    aspect-ratio: 5/7;
    background-size: contain;
    width: 10em;
    border-radius: 5px;
    border: 0.25em solid transparent;
    background-repeat: no-repeat;
}

.card.equipped {
    border-color: white;
}

.card > .cost {
    position: absolute;
    top: 0;
    right: 2%;
    width: 16%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.card > .level {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 17%;
    aspect-ratio: 2/1;
    background-size: contain;
    transform: translateX(-50%);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.8;
}
