@font-face {
    font-family: 'Friendly Fire';
    src: local('Friendly Fire'), url(../public/fonts/Friendly_Fire.ttf);
}
  
@font-face {
    font-family: 'Kenyan Coffee';
    src: local('Kenyan Coffee'), url(../public/fonts/kenyan_coffee_rg.otf);
}

html, body {
    background: rgb(42, 21, 82);
    color: white;
}

.App {
  font-family: 'Friendly Fire';
  font-size: 2em;
  text-transform: uppercase;
  text-shadow:
    /* Basic Outline */
    -0.1em -0.1em 0 #000,
     0.1em -0.1em 0 #000,
    -0.1em  0.1em 0 #000,
     0.1em  0.1em 0 #000;
  letter-spacing: 0.1em;
}

.myDeck {
    position: relative;
    min-height: 15rem;
}

.myDeck > .characterArt {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.filters {
    display: flex;
    gap: 1rem;
}

.card {
    position: relative;
    display: inline-block;
    width: 10rem;
    border-top: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-radius: 0.5rem;
}

.card.equipped::before {
    content: '';
    background-color: white;
    position: absolute;
    inset: 0;

}

.card::after {
    content: 'Equipped';
    display: none;
    text-transform: uppercase;
    position: absolute;
    color: black;
    text-shadow: none;
    font-size: 1.25rem;
    letter-spacing: initial;
    bottom: -1.3rem;
    right: 0.5rem;
}

.card.equipped {
    border-color: white;
}

.card.equipped::after {
    display: block;
}

.card > .cardContent {
    position: relative;
    width: 100%;
    aspect-ratio: 5/7;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.card > .cardContent > .cost {
    position: absolute;
    top: 0;
    right: 2%;
    width: 16%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.card > .cardContent > .level {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 17%;
    aspect-ratio: 2/1;
    background-size: contain;
    transform: translateX(-50%);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.8;
}
